<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <h1>This iis a test file</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque sapiente veritatis tempora ratione iusto tempore minus, ab et aut odio consequuntur nisi libero quia molestias, enim quidem reiciendis quos nesciunt?</p>
<script src="/public/main.js"></script>
</body>
</html>

